[package]
name = "everdiff"
version = "0.1.0"
edition = "2024"
default-run = "everdiff"

[lib]
name = "everdiff"
path = "src/lib.rs"

[[bin]]
name = "everdiff"
path = "src/main.rs"

[dependencies]
ansi-width = "0.1.0"
anyhow = "1.0.94"
camino = "1.1.9"
clap = { version = "4.5.23", features = ["derive"] }
comfy-table = { version = "7.1.3" }
indent = "0.1.1"
json-patch = { version = "3.0.1", default-features = false }
jsonptr = { version = "0.6.3", default-features = false }
nom = "7.1.3"
notify = "7.0.0"
owo-colors = "4.1.0"
# saphyr = "0.0.3"
saphyr = { path = "../saphyr/saphyr", version = "0.0.4" }
serde = "1.0.215"
serde_json = "1.0.133"
serde_yaml = "0.9.34"
similar = { version = "2.6.0", features = ["inline"] }
termsize = "0.1.9"
thiserror = "2.0.8"

[dev-dependencies]
indoc = "2.0.5"
pretty_assertions = "1.4.1"
expect-test = "1.5.0"
