name: Update Homebrew Formula

on:
  release:
    types: [released]

jobs:
  homebrew:
    name: Bump Homebrew formula
    runs-on: ubuntu-latest
    steps:
      - uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{ secrets.COMMITTER_TOKEN }}
          tap: felipesere/homebrew-tap
          formula: everdiff
